@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --secondary-text: 0 0% 42%;  /* #6a6a6a in HSL format */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  /* .dark {
    --background: 222.2 84% 2.5%;
    --foreground: 210 40% 98%;
    --secondary-text: 0 0% 42%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 12%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 12%;
    --input: 217.2 32.6% 12%;
    --ring: 224.3 76.3% 48%;
  } */
}

@layer components {
  .bg-background {
    background-color: hsl(var(--background));
  }

  .border-border {
    border-color: hsl(var(--border));
    border-width: 0px;
    border-style: solid;
  }

  .text-foreground {
    color: hsl(var(--foreground));
  }

  .text-secondary {
    color: hsl(var(--secondary-text));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Light.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;
}

.content {
  flex: 1;
}

* {
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-weight: 400;
}

.pretendard {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}

.spoqaHanSansNeo {
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #c4c9ce;
}

.hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}

.bg-primary {
  /* background: #3c4566; */
  background: #4a5524;
  color: #fff;
}

.bg-secondary {
  background: #b2b3b3;
  color: #fff;
}

.bg-none {
  background: transparent !important;
}

.text-primary {
  color: #3c4566
}

.text-primary:hover {
  opacity: 0.8;
  transition: all .5s;
}

a.text-primary:hover {
  background: #3c4566 !important;
  color: #fff !important;
}

.border-primary {
  border: 1px solid #3c4566
}

.border-none {
  border: none !important;
}

.inputCustom {
  padding: 10px 20px;
}

.tab-trigger[data-selected] {
  background-color: #3c4566 !important;
  color: white;
}

.tab-trigger {
  transition: background-color 0.3s ease;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.95);
}

.shopping-bag-icon {
  width: 65px;
  height: 65px;
  color: #3c4566;
  stroke-width: 1px;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 2.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -100;
  }
}

@media (max-width: 767px) {
  .shopping-bag-icon {
    width: 45px;
    height: 45px;
  }
}

.hottestWrap img {
  border-radius: 10px;
}

.goodsTit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buyIcon,
.cartIcon {
  color: #3c4566 !important;
}

.buyIcon:hover,
.cartIcon:hover {
  opacity: 0.8;
  transition: all .5s;
}

.text-gray-custom {
  color: hsl(var(--secondary-foreground));
}